
<H1 align="center"> Inicio </H1>
<br>

<p class= "detalles"> 
  <img class="foto" src="static/inicio.jpg"  >

  Referencias empresariales comprobables, Responsable y oportuna asistencia técnica y mantenimientos, 
  Adaptabilidad de acuerdo a su empresa, Asesoramiento en recursos y manejo del software, 
  Módulos de respaldo automático diario, Consultas y listados de todos los movimientos.

  Como  todos  conocemos,  la  propaganda  en medios de comunicación masivos tiene un costo relativamente alto,
  Por lo que nuestra principal política de ventas es: Procurar atender del mejor modo posible a nuestros clientes
  y colocar su  nombre,  dirección  y  teléfono en nuestra pagina web como: REFERENCIAS EMPRESARIALES.
  Para que Ud les consulte sobre la calidad del producto y  de los servicios que reciben.
  Así ahorramos gastos de propaganda  y mantenemos bajo los precios de los sistemas.

</p>


<br>
<br>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<footer>
  <div>
    <hr  style="opacity: 1.00";>
    <br>
  </div>
</footer>
<br><br><br><br>

