
<main class="page-contents">
 
 

<H1 align="center"> Nomina de Empleados y Obreros. </H1>
<br>
<p class= "detalles"> 
  <img class="foto" src="static/nomina_recibo.jpg"  align="left">
  <br><br>
  key de la nomina (fecha del dia) y tipo --> "E": Empleados, "O": Obreros
  <br>     
  <br>
  Contiene agenda de datos personales de Empleados y de Obreros. <br>
  <br>

  Permite 99 conceptos: 01 al 50 las asignaciones y 51 al 99 las deducciones, algunos conceptos son calculados automaticamente y otros en forma manual cumpliendo las normativas legales. 
  <br>  
   
  Salarios, y salario integral para calculos de pagos al personal, Reportes por periodos de fecha (d/h).
  Subsistema automatico de respaldos. <br>
  <br>
  Costo 100 $ (un solo pago). Incluye: instalacion, instructivo, y entrenamiento. 
</p>

    
<br>
<br>
<br>
<br>

<br>
<br>

</p>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<footer>
  <div>
    <hr  style="opacity: 1.00";>
    <br>
  </div>
</footer>
<br><br><br><br>

 </main>
{% endblock %} 

